.wrapper{
    background-color: #232327;
}

.homepage{
    width: 100%;
}

.openread{
    font-size: 8vw;
    font-weight: bolder;
    margin: 0px;
}

.slogan{
    font-size: 4vw;
    margin: -2vw 0px 15px 0px;
}

.visitor-homepage{
    position: absolute;
	transform: translate(14%, -33vw);
}

.btn-openread{
    margin-left: 2vw;
    margin-right: 1vw;
}

.content{
    padding:8%;
}

.title{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 28px;
}

.display-story{
    display: flex;
	justify-content: space-around;
}

.display.box{
    width: 150px;
    background-color: #6D6E7D;
    padding: 8px;
    margin: 8px;
    border-radius: 12px;
}

.display-cover{
    width: 124px;
    height: 124px;
    border-radius: 10px;
    margin: 10px 0px 10px 10px;
}

.display-title{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
}

.rate-view-icon{
    width: 20px;
}

.display-content{
    margin: 0px 5px;
}

.btn-write-story{
    margin: 40px 0px 40px 0px;
}

.view-by-genre{
    background-color: #3A3B44;
    margin: 8% 1%;
    padding: 4% 3%;
    border-radius: 10px;
}

.title2{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
}

.margin-button{
    margin: 0 15%;
}

.display-cover-bg{
    width: 188px;
    height: 188px;
    margin: 20px;
    border-radius: 18px;
}

.title3{
    font-size: 52px;
    font-weight: 500;
}

.font{
    font-size: 26px;
}

.box{
    margin: 5px;
    padding: 5px;
    height: calc(1.5em + 0.75rem + 2px);
    border-radius: 12px;
    color: #3A3B44;
}